#content_container{
    display: flex;
    gap: 25px;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    padding: 25px;
}

@media (max-width: 500px) {
    #content_container{
        display: flex;
        flex-direction: column;
      }
  }