@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font_colour: #faf9f6;
  --font_Playfair: "Playfair Display";
  --font_Helvetica: "Helvetica";
}

body {
  color: var(--font_colour);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../public/Shockwave.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
margin: 25px;
}

#homepage_title{
  font: 75px var(--font_Playfair);
  display: flex;
padding-top: 5vh;
}
#homepage_slogan{
  font: 20px var(--font_Playfair);
  display: flex;
  justify-content: center;
}
#container{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}